html {
    font-family: Arial, sans-serif;
  }

body {
    background-color: #d7d7d7;
    background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
    
 
    max-width: 100%;
    /*max-height: 960px;*/
    margin: 50px auto;
    font-size: 16px;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

#top-section {

    background-color: darkgoldenrod;
    margin: 0 auto;
    width: 1150px;
    text-align: center;
    position:relative;
    border-radius: 10px;
    color: black;
    box-shadow: 10px 10px 10px black;

}

h1 {
    text-align: center;
}

.concert-card {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
  text-align: center;
  
}

.concert-card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    background: black;
    

}
h2 {
    color:darkgoldenrod;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

#jam-cards img  {
    display: block;
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
    
}
#jam-cards h3 {
    text-align: center;
}
#myBtn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: darkgoldenrod;
    color: black;
    border-radius: 16px;
    padding: 10px 20px;
    font-weight: 900;
   
    
}
#jam-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 100px;
}
p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#featured-events {
    display: flex;
    justify-content: space-around;
}
#mainAudio {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#like-button {
    background-color: darkgoldenrod;
    border-radius: 10px;
    font-weight: 900;
}

